@using Microsoft.AspNet.Identity;
@model GigHub.ViewModels.GigsViewModel
@{
    ViewBag.Title = "Home Page";
}

<h1>@Model.Heading</h1>
@using (Html.BeginForm("Search", "Gigs", FormMethod.Post))
{
    <div class="form-group">
        <div class="input-group" id="searchGigs">
            @Html.TextBoxFor(m => m.SearchTerm, new { @class = "form-control", placeholder = "Search an artist,venue..." })
            <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
            </span>
        </div>
    </div>

}
@foreach (var gig in Model.UpcomingGigs)
{
    <div class="gigContainer">
        <div class="calendar">
            <div class="month">@gig.DateTime.ToString("MMM")</div>
            <div class="day">@gig.DateTime.ToString("d ")</div>
        </div>
        <div class="infoContainer">
            <span class="infoContainer__Artist">
                @Html.ActionLink(gig.Artist.Name, "Details", "Gigs", new { @Id = gig.Id }, null)

                @if (gig.IsCanceled)
                {
                    <span class="label label-warning">Canceled</span>
                }
            </span>
            <span class="infoContainer__Genre">@gig.Genre.Name</span>
        </div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="buttonsContainer">
                <button class="button__follow btn btn-link btn-sm js-toggle-follow" data-user-id="@gig.ArtistId">@(Model.MyFollowees.Contains(gig.ArtistId)?"Unfollow":"Follow")</button>
                @if (Model.ShowActions && !gig.IsCanceled)
                {
                    <button data-gig-id="@gig.Id" class="button__going js-toggle-attendance btn @(Model.Attendances.Contains(gig.Id) ? "btn-info" : "btn-default") btn-sm pull-right">
                        @(Model.Attendances.Contains(gig.Id) ? "Going" : "Going?")
                    </button>
                }
            </div>
        }
    </div>
    <hr style="border: 1px solid gray" />
}


@section scripts
{
    <script>
        $(document).ready(function () {
            $('.js-toggle-attendance').click(function (e) {
                var button = $(e.target);
                if (button.hasClass("btn-default")) {
                    $.post("/api/attendances", { gigId: button.attr("data-gig-id") })
                        .done(function () {
                            button
                                .removeClass("btn-default")
                                .addClass("btn-info")
                                .text("Going");
                            alertify.success('You are going to this event.').dismissOthers();

                        })
                        .fail(function (xhr) {
                            alertify.alert(xhr.responseJSON.message);
                        })
                }
                else {
                    $.ajax({
                        url: "/api/attendances/" + button.attr("data-gig-id"),
                        method: "delete"
                    }).done(function () {
                        button
                            .removeClass("btn-info")
                            .addClass("btn-default")
                            .text("Going?");
                        alertify.warning('You are not going to this event.').dismissOthers();
                    }).fail(function (xhr) {
                        alertify.alert(xhr.responseJSON.message);
                    })
                }

            })

            $('.js-toggle-follow').click(function (e) {
                var button = $(e.target);
                var buttons = $(`.js-toggle-follow[data-user-id="${button.attr("data-user-id")}"]`);
                if (button.text() == "Follow") {
                    $.post("/api/followings", { followeeId: button.attr("data-user-id") })
                        .done(function () {
                            buttons.text("Unfollow");
                            alertify.success('You are following this artist.').dismissOthers();
                        })
                        .fail(function (xhr) {
                            alertify.alert(xhr.responseJSON.message);
                        })
                } else {
                    $.ajax({
                        url: "/api/followings/" + button.attr("data-user-id"),
                        method: "delete"
                    }).done(function () {
                        buttons.text("Follow");
                        alertify.warning('You are not following this artist.').dismissOthers();

                    }).fail(function (xhr) {
                        alertify.alert(xhr.responseJSON.message);
                    })
                }

            })
        });
    </script>
}
